<nav class="bg-gray-800">
    <div class="container flex">

        <div class="flex items-center justify-between flex-grow md:pl-12 py-5">
            <div class="flex items-center space-x-6 capitalize">
                <a href="?route=home" class="text-gray-200 hover:text-white transition">Home</a>
                <a href="?route=home" class="text-gray-200 hover:text-white transition">Shop</a>
                <a href="?nowhere" class="text-gray-200 hover:text-white transition">About us</a>
                <a href="?nowhere" class="text-gray-200 hover:text-white transition">Contact us</a>
            </div>
            {% if "ROLE_SUPER" in sessionRole %}
                <a href="?route=super" class="text-gray-200 hover:text-white transition">Super</a>
            {% endif %}
            {% if "ROLE_ADMIN" in sessionRole %}
                <a href="?route=admin" class="text-gray-200 hover:text-white transition">Admin</a>
            {% endif %}
            {% if sessionRole %}
                <a href="?route=logout" class="text-gray-200 hover:text-white transition">Logout</a>
            {% else %}
                <div class="space-x-6">
                <a href="?route=login" class="text-gray-200 hover:text-white transition">Login</a>
                <a href="?route=createUser" class="text-gray-200 hover:text-white transition">Sign Up</a>
                </div>
            {% endif %}
        </div>
    </div>
</nav>