{% extends 'public/public.index.html.twig' %}


{% block main %}
    {% block banner %}
        <div class="bg-cover bg-no-repeat bg-center py-36" style="background-image: url('images/banner-bg.jpg')">
            <div class="container">
                <h1 class="text-6xl text-gray-800 font-medium mb-4 capitalize">
                    This page has not been <br> implemented yet!
                </h1>
                <p>Seeing as this project was an exercise in Javascript, <br>
                    I have not created the PHP-based login page</p>
                <p class="pl-8 ml-3">&lpar;I undoubtedly will do so soon&rpar;</p>
                <div class="mt-12">
                    <a href="?route=home" class="bg-primary border border-primary text-white px-8 py-3 font-medium
                    rounded-md hover:bg-transparent hover:text-primary">Home</a>
                </div>
            </div>
        </div>
    {% endblock %}
{% endblock %}

{% block footer %}{% endblock %}
{% block scripts %}{% endblock %}
